[submodule "Dependencies/hlslpp/Include"]
	path = Dependencies/hlslpp/Include
	url = https://github.com/redorav/hlslpp
[submodule "Dependencies/ddspp/Include"]
	path = Dependencies/ddspp/Include
	url = https://github.com/redorav/ddspp/
[submodule "Dependencies/crstl"]
	path = Dependencies/crstl
	url = https://github.com/redorav/crstl
